@font-face {
  font-family: "Tungsten";
  src: url("../fonts/Tungsten-Bold.ttf");
}

@font-face {
  font-family: "DINNextW1G";
  src: url("../fonts/DINNextW1G-Bold.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  height: auto;
  position: relative;
  overflow-x: hidden;
}

h2 {
  padding: 0;
  margin: 0;
}

$colorRed: #ff4655;
$colorWhite: #ece8e1;
$colorDarkBlue: #0d1820;
$colorBlack: #000000;
$colorGrey: #292929;
$color-slider: #ece8e1;
$font1: "DINNextW1G", arial, georgia, sans-serif;
$font2: "Tungsten", arial, georgia, sans-serif;

.flux {
  width: 100%;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
}
