@font-face {
  font-family: "Tungsten";
  src: url("../fonts/Tungsten-Bold.ttf");
}
@font-face {
  font-family: "DINNextW1G";
  src: url("../fonts/DINNextW1G-Bold.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  height: auto;
  position: relative;
  overflow-x: hidden;
}

h2 {
  padding: 0;
  margin: 0;
}

.flux {
  width: 100%;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  border-left: 1px solid #8b978f;
}

header .nav-container {
  background-color: #000000;
  position: fixed;
  width: 100%;
  z-index: 100;
}
header .nav-container nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80px;
  list-style: none;
}
header .nav-container nav .left-nav {
  display: flex;
  align-items: center;
}
header .nav-container nav .left-nav #riotLogo {
  width: 70px;
  cursor: pointer;
  margin: 0 16px;
}
header .nav-container nav .left-nav #valorantLogo {
  width: 70px;
  cursor: pointer;
  margin: 0 16px;
}
header .nav-container nav .left-nav #list-medium {
  display: none;
}
header .nav-container nav .left-nav #list-small {
  display: none;
}
header .nav-container nav .left-nav .list-container {
  display: flex;
  align-items: center;
  gap: 2.2rem;
  padding: 0px 16px;
}
header .nav-container nav .left-nav .list-container a {
  text-decoration: none;
  padding: 2px 12px;
  border-radius: 6px;
  position: relative;
}
header .nav-container nav .left-nav .list-container a:hover {
  background-color: #292929;
}
header .nav-container nav .left-nav .list-container a:hover .underline {
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translateY(400%);
  width: 100%;
  height: 4px;
  background-color: #ff4655;
  border-radius: 4px;
}
header .nav-container nav .left-nav .list-container a li {
  list-style: none;
  color: #ece8e1;
  font-family: "DINNextW1G", arial, georgia, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: 0.9rem;
  padding: 8px 0px;
}
header .nav-container nav .left-nav .list-container a li:hover {
  background-color: #292929;
}
@media screen and (max-width: 1600px) {
  header .nav-container nav .left-nav #list-full {
    display: none;
  }
  header .nav-container nav .left-nav #list-medium {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.4rem;
  }
}
@media screen and (max-width: 1300px) {
  header .nav-container nav .left-nav #list-medium {
    display: none;
  }
  header .nav-container nav .left-nav #list-small {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.4rem;
  }
}
header .nav-container nav .right-nav {
  display: flex;
}
header .nav-container nav .right-nav .list-container {
  display: flex;
  align-items: center;
  gap: 2.2rem;
  padding: 0px 16px;
}
header .nav-container nav .right-nav .list-container a {
  text-decoration: none;
  padding: 2px 12px;
  border-radius: 6px;
  position: relative;
}
header .nav-container nav .right-nav .list-container a li {
  list-style: none;
  color: #ece8e1;
  font-family: "DINNextW1G", arial, georgia, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: 0.9rem;
  padding: 8px 0px;
}
header .nav-container nav #globe {
  width: 20px;
}

.container-banner {
  height: 80vh;
  position: relative;
}
.container-banner #myVideo {
  position: absolute;
  display: block;
  top: 0;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  z-index: -1;
}
.container-banner #custom-cursor {
  width: 80px;
  position: fixed;
  transform: translateX(-50%) translateY(-50%);
  pointer-events: none;
  z-index: 100;
  opacity: 0.5;
  transform: 0.3s;
}
.container-banner .banner {
  height: 80vh;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 35% 40% 25%;
  position: relative;
}
.container-banner .banner .carroussel {
  display: flex;
  height: 80vh;
  flex-direction: column;
  z-index: 1;
}
.container-banner .banner .carroussel .active {
  color: #ff4655 !important;
}
.container-banner .banner .carroussel .agent_name {
  font-family: "Tungsten", arial, georgia, sans-serif;
  font-size: 7rem;
  color: #ece8e1;
  text-transform: uppercase;
  position: relative;
  cursor: -webkit-grab;
  cursor: grab;
  height: 100px;
  transform: translateY(220px);
}
.container-banner .banner .carroussel .agent_name span {
  font-family: "Tungsten", arial, georgia, sans-serif;
  font-size: 1.5rem;
  position: relative;
  margin-right: 12px;
  bottom: 60px;
}
.container-banner .banner .imgSlider {
  height: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.container-banner .banner .imgSlider img {
  max-height: 740px;
  position: absolute;
  top: 30px;
  left: 0;
  z-index: 5;
  pointer-events: none;
}
.container-banner .banner .description-container {
  display: flex;
  flex-direction: column;
  text-align: left;
  font-family: "DINNextW1G", arial, georgia, sans-serif;
  color: #ece8e1;
  position: relative;
}
.container-banner .banner .description-container h3 {
  font-size: 0.9rem;
}
.container-banner .banner .description-container #role-text {
  font-size: 4rem;
  margin-bottom: 2rem;
  font-family: "Tungsten", arial, georgia, sans-serif;
}
.container-banner .banner .description-container #role-text img {
  width: 30px;
  transform: translateY(-50%) translateX(10px);
}
.container-banner .banner .description-container #description-text {
  margin-top: 1rem;
  font-family: "DINNextW1G", arial, georgia, sans-serif;
  line-height: 1.3rem;
  letter-spacing: 0.02rem;
  word-spacing: 0.2rem;
}
.container-banner .banner .description-container #white-line {
  height: 1px;
  border-radius: 2px;
  background-color: #ece8e1;
  width: 100%;
  position: relative;
  transform: translateY(60px);
}
@-webkit-keyframes textAnim {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes textAnim {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@-webkit-keyframes hoverAnim {
  0% {
    left: 0px;
  }
  70% {
    left: 10px;
  }
  100% {
    left: 0px;
  }
}
@keyframes hoverAnim {
  0% {
    left: 0px;
  }
  70% {
    left: 10px;
  }
  100% {
    left: 0px;
  }
}
@-webkit-keyframes displayImg {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes displayImg {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.container_abilities {
  height: 90vh;
  background-color: #ece8e1;
  position: relative;
}
.container_abilities .div_col_left {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  left: 8rem;
  height: 60%;
  pointer-events: none;
}
.container_abilities .div_col_left img {
  width: 30px;
  opacity: 50%;
}
.container_abilities .div_col_left span {
  font-size: 2rem;
}
.container_abilities .abilities {
  padding-top: 10px;
  width: 100%;
  position: relative;
}
.container_abilities .abilities .limits {
  font-family: "DINNextW1G", arial, georgia, sans-serif;
  color: #8b978f;
  opacity: 0.6;
  text-transform: uppercase;
  position: absolute;
  right: 0;
  transform: translateX(40px) translateY(100px) rotate(90deg);
}
.container_abilities .abilities .skills {
  display: grid;
  grid-template-columns: 40% 60%;
  padding-top: 220px;
  height: 100vh;
}
.container_abilities .abilities .skills .skill_text h3 {
  font-family: "Tungsten", arial, georgia, sans-serif;
  font-size: 4rem;
  text-transform: uppercase;
}
.container_abilities .abilities .skills .skill_text .line-skills {
  height: 1px;
  width: 100%;
  background-color: #8b978f;
  position: absolute;
  top: 42.5%;
}
.container_abilities .abilities .skills .skill_text .line-dark2 {
  height: 300px;
  width: 1px;
  background-color: #8b978f;
  position: absolute;
  top: 0;
  right: 300px;
}
.container_abilities .abilities .skills .skill_text ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  margin: 4rem 0;
  position: relative;
  z-index: 3;
}
.container_abilities .abilities .skills .skill_text ul li {
  border: 1px solid #8b978f;
  width: 80px;
  height: 80px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
}
.container_abilities .abilities .skills .skill_text ul li:hover {
  background-color: #ff4655;
}
.container_abilities .abilities .skills .skill_text ul li img {
  width: 40px;
}
.container_abilities .abilities .skills .skill_text .text_skills {
  display: flex;
  flex-direction: column;
  list-style: none;
  text-align: left;
  padding: 0 8rem 0 3.6rem;
}
.container_abilities .abilities .skills .skill_text .text_skills h5 {
  font-family: "DINNextW1G", arial, georgia, sans-serif;
  font-size: 1.4rem;
  text-transform: uppercase;
  color: #292929;
  padding: 8px 0 16px 0;
}
.container_abilities .abilities .skills .skill_text .text_skills p {
  font-family: "DINNextW1G", arial, georgia, sans-serif;
  color: #8b978f;
  font-size: 1.1rem;
}
.container_abilities .abilities .skills .skill_video {
  width: auto;
  position: relative;
}
.container_abilities .abilities .skills .skill_video video {
  width: 90%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
}
.container_abilities .abilities .skills .skill_video .grey_bar {
  width: 80%;
  height: 40px;
  position: relative;
  transform: translateX(24.9%) translateY(960%);
  background-color: #8b978f;
}

.third_container {
  height: 60vh;
  background-color: #ece8e1;
  position: relative;
}
.third_container #custom-cursor {
  width: 80px;
  position: fixed;
  transform: translateX(-50%) translateY(-50%);
  pointer-events: none;
  z-index: 100;
  opacity: 0;
}
.third_container .article_banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 1;
}
.third_container .article_banner h3 {
  font-family: "Tungsten", arial, georgia, sans-serif;
  font-size: 4rem;
  text-transform: uppercase;
}
.third_container .article_banner .limits {
  font-family: "DINNextW1G", arial, georgia, sans-serif;
  color: #8b978f;
  opacity: 0.6;
  text-transform: uppercase;
  position: absolute;
  right: 0;
  top: 0;
  transform: translateX(40px) translateY(40px) rotate(90deg);
}
.third_container .text_bg {
  position: absolute;
  top: 0;
  z-index: 0;
}
.third_container .text_bg span {
  text-transform: uppercase;
  font-size: 22rem;
  color: #ece8e1;
  font-family: "DINNextW1G", arial, georgia, sans-serif;
  pointer-events: none;
  -webkit-text-stroke: 1px #8b978f;
  text-stroke: 1px #8b978f;
  opacity: 0.2;
  white-space: nowrap;
  line-height: 1;
}
.third_container ul {
  list-style: none;
  display: flex;
  margin: 4rem 0;
  position: relative;
  z-index: 1;
}
.third_container ul .slick-slide {
  display: flex;
  margin-right: 2rem;
  flex-wrap: nowrap;
}
.third_container ul .slick-slide .card {
  flex: 0 0 22%;
  min-width: 22%;
  background-color: #ece8e1;
  border: 1px solid #8b978f;
  cursor: pointer;
}
.third_container ul .slick-slide .card a {
  text-decoration: none;
  color: #292929;
}
.third_container ul .slick-slide .card a article {
  position: relative;
  z-index: 5;
}
.third_container ul .slick-slide .card a article .img_container {
  width: 100%;
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
}
.third_container ul .slick-slide .card a article .img_container::before {
  content: "";
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0px;
  bottom: 0px;
  background-color: rgb(255, 70, 85);
  mix-blend-mode: multiply;
  z-index: 1;
  transition: transform 0.3s ease-out 0s;
  transform: translateX(-100%) skewX(-10deg);
  visibility: hidden;
}
.third_container ul .slick-slide .card a article .img_container:hover::before {
  transition: transform 0.3s ease-out 0s;
  transform: translateX(0);
  visibility: visible;
}
.third_container ul .slick-slide .card a article .img_container img {
  width: 100%;
}
.third_container ul .slick-slide .card a article .article_text {
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: left;
  padding: 20px 20px 20px 40px;
  position: relative;
}
.third_container ul .slick-slide .card a article .article_text span {
  position: absolute;
  left: 0;
  transform: rotate(-90deg);
  font-family: "DINNextW1G", arial, georgia, sans-serif;
  font-size: 1.4rem;
}
.third_container ul .slick-slide .card a article .article_text .article_date {
  color: #8b978f;
  font-family: "DINNextW1G", arial, georgia, sans-serif;
  font-size: 0.8rem;
}
.third_container ul .slick-slide .card a article .article_text .article_title {
  color: #292929;
  font-family: "DINNextW1G", arial, georgia, sans-serif;
  font-size: 1rem;
}
.third_container ul .slick-slide .card:hover .article_text {
  background-color: #0d1820;
  transition: 0.6s;
}
.third_container ul .slick-slide .card:hover .article_text span {
  color: #ece8e1;
  transition: 0.6s;
}
.third_container ul .slick-slide .card:hover .article_text .article_date {
  color: #ff4655;
  transition: 0.6s;
}
.third_container ul .slick-slide .card:hover .article_text .article_title {
  color: #ece8e1;
  transition: 0.6s;
}
.third_container ul .slick-dots {
  margin: 0;
  position: absolute;
  top: -60px;
  left: 0;
  list-style-type: none;
  width: auto;
  height: 20px;
  z-index: 0;
}
.third_container ul .slick-dots li {
  margin-right: 2rem;
}
.third_container ul .slick-dots button {
  display: block;
  width: 50px;
  height: 4px;
  border: 1px solid #8b978f;
  background-color: #ece8e1;
  text-indent: -9999px;
}
.third_container ul .slick-dots li.slick-active button {
  background-color: #ff4655;
  border: 1px solid #ff4655;
}

footer {
  height: 50vh;
  position: relative;
  z-index: 3;
}
footer .download-container {
  background-color: #292929;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
footer .download-container button {
  border: none;
  background-color: #292929;
  font-size: 1rem;
  font-family: "DINNextW1G", arial, georgia, sans-serif;
  text-transform: uppercase;
  color: #ece8e1;
  cursor: pointer;
  padding: 6px 12px;
  border-radius: 8px;
}
footer .download-container button:hover {
  background-color: rgba(128, 128, 128, 0.3);
}
footer .link-container {
  height: 100%;
  background-color: #0d1820;
}
footer .link-container .social_container ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 1rem;
  padding: 20px 0;
}
footer .link-container .social_container ul li {
  color: #ece8e1;
  background-color: #292929;
  text-align: center;
  border-radius: 10px;
  padding: 8px;
  width: 34px;
}
footer .link-container .social_container ul li a {
  text-decoration: none;
  color: #ece8e1;
  font-size: 0.9rem;
}
footer .link-container .logo_riot {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px 0 20px;
  width: 100%;
}
footer .link-container .logo_riot img {
  width: 6rem;
}
footer .link-container p {
  color: #8b978f;
  font-family: "DINNextW1G", arial, georgia, sans-serif;
  width: 100%;
  max-width: 640px;
  margin: 0 auto;
  pointer-events: none;
}
footer .link-container .cgi-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 24px 0 28px;
}
footer .link-container .cgi-container button {
  border: none;
  background-color: #0d1820;
  font-size: 1rem;
  font-family: "DINNextW1G", arial, georgia, sans-serif;
  text-transform: uppercase;
  color: #ece8e1;
  cursor: pointer;
  padding: 6px 12px;
  border-radius: 8px;
}
footer .link-container .cgi-container button:hover {
  background-color: rgba(128, 128, 128, 0.3);
}
footer .link-container .pegi-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .link-container .pegi-container div {
  background-color: #292929;
  padding: 10px;
  border-radius: 6px;
}
footer .link-container .pegi-container div img {
  height: 100px;
}/*# sourceMappingURL=style.css.map */