@font-face {
  font-family: "Tungsten";
  src: url("../fonts/Tungsten-Bold.ttf");
}
@font-face {
  font-family: "DINNextW1G";
  src: url("../fonts/DINNextW1G-Bold.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  height: auto;
  position: relative;
  overflow-x: hidden;
}

h2 {
  padding: 0;
  margin: 0;
}

.flux {
  width: 100%;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
}

header .nav-container {
  background-color: #000000;
  position: fixed;
  width: 100%;
  z-index: 100;
}
header .nav-container nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80px;
  list-style: none;
}
header .nav-container nav .left-nav {
  display: flex;
  align-items: center;
}
header .nav-container nav .left-nav #riotLogo {
  width: 70px;
  cursor: pointer;
  margin: 0 16px;
}
header .nav-container nav .left-nav #valorantLogo {
  width: 70px;
  cursor: pointer;
  margin: 0 16px;
}
header .nav-container nav .left-nav #list-medium {
  display: none;
}
header .nav-container nav .left-nav #list-small {
  display: none;
}
header .nav-container nav .left-nav .list-container {
  display: flex;
  align-items: center;
  gap: 2.2rem;
  padding: 0px 16px;
}
header .nav-container nav .left-nav .list-container a {
  text-decoration: none;
  padding: 2px 12px;
  border-radius: 6px;
  position: relative;
}
header .nav-container nav .left-nav .list-container a:hover {
  background-color: #292929;
}
header .nav-container nav .left-nav .list-container a:hover .underline {
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translateY(400%);
  width: 100%;
  height: 4px;
  background-color: #ff4655;
  border-radius: 4px;
}
header .nav-container nav .left-nav .list-container a li {
  list-style: none;
  color: #ece8e1;
  font-family: "DINNextW1G";
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: 0.9rem;
  padding: 8px 0px;
}
header .nav-container nav .left-nav .list-container a li:hover {
  background-color: #292929;
}
@media screen and (max-width: 1600px) {
  header .nav-container nav .left-nav #list-full {
    display: none;
  }
  header .nav-container nav .left-nav #list-medium {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.4rem;
  }
}
@media screen and (max-width: 1300px) {
  header .nav-container nav .left-nav #list-medium {
    display: none;
  }
  header .nav-container nav .left-nav #list-small {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.4rem;
  }
}
header .nav-container nav .right-nav {
  display: flex;
}
header .nav-container nav .right-nav .list-container {
  display: flex;
  align-items: center;
  gap: 2.2rem;
  padding: 0px 16px;
}
header .nav-container nav .right-nav .list-container a {
  text-decoration: none;
  padding: 2px 12px;
  border-radius: 6px;
  position: relative;
}
header .nav-container nav .right-nav .list-container a li {
  list-style: none;
  color: #ece8e1;
  font-family: "DINNextW1G";
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: 0.9rem;
  padding: 8px 0px;
}
header .nav-container nav #globe {
  width: 20px;
}

.container-banner {
  height: 80vh;
  position: relative;
}
.container-banner #myVideo {
  position: absolute;
  display: block;
  top: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: 0;
  transform: translateY(-10%);
}
.container-banner .banner {
  height: 80vh;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 35% 40% 25%;
  position: relative;
  padding-top: 20px;
}
.container-banner .banner .carroussel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  z-index: 1;
}
.container-banner .banner .carroussel .agent_name {
  font-family: "Tungsten";
  font-size: 7rem;
  color: #ece8e1;
  text-transform: uppercase;
  position: relative;
  cursor: pointer;
  height: 100px;
}
.container-banner .banner .carroussel .agent_name span {
  font-family: "Tungsten";
  color: #ece8e1;
  font-size: 1.5rem;
  position: relative;
  z-index: 10;
  margin-right: 12px;
  bottom: 60px;
}
.container-banner .banner .imgSlider {
  height: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-banner .banner .imgSlider img {
  max-height: 740px;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  bottom: -80px;
  z-index: 10;
  transition: 0.5s;
}
.container-banner .banner .description-container {
  display: flex;
  flex-direction: column;
  text-align: left;
  font-family: "DINNextW1G";
  color: #ece8e1;
  position: relative;
}
.container-banner .banner .description-container h3 {
  font-size: 0.9rem;
}
.container-banner .banner .description-container #role-text {
  font-size: 4rem;
  margin-bottom: 2rem;
}
.container-banner .banner .description-container #description-text {
  margin-top: 1rem;
  font-family: "DINNextW1G";
  line-height: 1.3rem;
  letter-spacing: 0.02rem;
  word-spacing: 0.2rem;
}
.container-banner .banner .description-container #white-line {
  height: 1px;
  border-radius: 2px;
  background-color: #ece8e1;
  width: 100%;
  position: relative;
  transform: translateY(60px);
}
@-webkit-keyframes textAnim {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes textAnim {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@-webkit-keyframes hoverAnim {
  0% {
    left: 0px;
  }
  70% {
    left: 10px;
  }
  100% {
    left: 0px;
  }
}
@keyframes hoverAnim {
  0% {
    left: 0px;
  }
  70% {
    left: 10px;
  }
  100% {
    left: 0px;
  }
}

.video {
  background-color: rgb(61, 42, 165);
  height: 40vh;
  position: relative;
  z-index: 5;
}/*# sourceMappingURL=style.css.map */