.content {
  .content-trending {
    .content-topRated__cards {
      ul {
        padding: 1rem 0;
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(7, 1fr);
        cursor: pointer;

        @media screen and (max-width: map-get($breakpoints , max-desktop)) {
          grid-template-columns: repeat(6, 1fr);
        }

        @media screen and (max-width: map-get($breakpoints , lg-desktop)) {
          grid-template-columns: repeat(5, 1fr);
        }
        @media screen and (max-width: map-get($breakpoints , sm-desktop)) {
          grid-template-columns: repeat(4, 1fr);
        }
        @media screen and (max-width: map-get($breakpoints , lg-tablet)) {
          grid-template-columns: repeat(3, 1fr);
        }
      }

      .tr-card {
        height: 320px;
        border-radius: 12px;
        position: relative;
        display: flex;
        align-items: flex-end;

        &:hover {
          #watchBtn {
            opacity: 1;
          }
        }

        .card__content {
          width: 100%;
          height: 20%;
          display: flex;
          align-items: center;

          .tr-card-btn_container {
            width: 100%;
            display: flex;
            justify-content: center;
          }

          .tc-content {
            color: $white;
            font-family: $font-1;
            font-weight: 500;
          }

          #tr_rate {
            border-radius: 12px;
            background-color: $black;
            font-size: 1rem;
            position: absolute;
            top: 0.6em;
            left: 0.6em;
            padding: 4px 8px;
          }
        }
      }
    }
  }
}
