.cardBanner-container {
  grid-column: 1 / span 12;
  height: auto;
  padding-bottom: 2em;

  @media screen and (max-width: 500px) {
    grid-column: 1 / span 6;
  }

  #line {
    position: absolute;
    left: 0;
    z-index: -1;
    width: 100%;
    transform: translateY(10%);
  }

  #elnath {
    position: absolute;
    left: -20%;
    z-index: -2;
    transform: translateY(-20%);
    pointer-events: none;

    @media screen and (max-width: 1340px) {
      left: -40%;
    }

    @media screen and (max-width: 700px) {
      left: -130%;
    }
  }

  .cards-container {
    position: relative;
    height: auto;
    @include flexRow;
    justify-content: space-between;

    @media screen and (max-width: 1280px) {
      flex-direction: column;
      gap: 2rem;
    }

    .cards {
      background-color: $black;
      width: 340px;
      height: 280px;
      border-radius: 6px;
      @include flexColumn;
      align-items: center;
      gap: 1em;
      text-align: center;
      padding: 40px;
      cursor: pointer;

      .cardBanner-icon {
        font-size: 3rem;
        color: $white;
        background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      @media screen and (max-width: 1550px) {
        width: 300px;
        height: 320px;
      }

      @media screen and (max-width: 1380px) {
        width: 280px;
      }

      @media screen and (max-width: 1280px) {
        width: 90%;
        height: 160px;
        gap: 2rem;
        align-items: center;
        justify-content: flex-start;
        flex-direction: row;
        text-align: left;
      }

      @media screen and (max-width: 800px) {
        padding: 16px 2rem;
        height: 200px;
        gap: 2rem;
        width: 100%;
      }

      @media screen and (max-width: 400px) {
        flex-direction: column;
        gap: 0;
        padding: 24px;
        text-align: center;
        width: 300px;
        height: 260px;
      }

      &:hover {
        outline: 1px solid $white;
      }

      h3 {
        padding-bottom: 1rem;
      }
    }
  }
}
