.container_abilities {
  height: 90vh;
  background-color: $colorWhite;
  position: relative;

  @include laptop {
    padding-top: 0;
    height: 125vh;
  }

  @include tablet {
    padding-top: 0;
    height: 120vh;
  }

  @include mobile {
    height: 120vh;
  }

  .div_col_left {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    left: 8rem;
    height: 60%;
    pointer-events: none;

    img {
      width: 30px;
      opacity: 50%;
    }
    span {
      font-size: 2rem;
    }

    @include laptop {
      display: none;
    }

    @include tablet {
      display: none;
    }
  }

  .abilities {
    padding-top: 10px;
    width: 100%;
    position: relative;

    @include laptop {
      height: 100%;
    }

    @include tablet {
      height: 100%;
    }

    .limits {
      font-family: $font1;
      color: $colorLightGrey;
      opacity: 0.6;
      text-transform: uppercase;
      position: absolute;
      right: 0;
      transform: translateX(40px) translateY(100px) rotate(90deg);

      @include laptop {
        display: none;
      }

      @include tablet {
        display: none;
      }
    }

    .skills {
      display: grid;
      grid-template-columns: 40% 60%;
      padding-top: 220px;
      height: 100vh;

      @include laptop {
        padding-top: 300px;
        display: flex;
        flex-direction: column;
        padding-left: 2rem;
        padding-right: 2rem;
      }

      @include tablet {
        padding-top: 300px;
        display: flex;
        flex-direction: column;
        height: auto;
        padding-left: 2rem;
        padding-right: 2rem;
      }

      @include lg-mobile {
        padding-top: 320px;
        padding-left: 0;
        padding-right: 0;
      }

      @include mobile {
        padding-top: 360px;
        padding-left: 0;
        padding-right: 0;
      }

      .skill_text {
        h3 {
          font-family: $font2;
          font-size: 4rem;
          text-transform: uppercase;

          @include lg-mobile {
            font-size: 2.8rem;
            padding: 1rem 1rem;
          }

          @include mobile {
            font-size: 2.4rem;
          }
        }

        .line-skills {
          height: 1px;
          width: 100%;
          background-color: $colorLightGrey;
          position: absolute;
          top: 42.5%;

          @include laptop {
            top: 40%;
            transform: translateX(-20%);
            width: 150%;
          }

          @include tablet {
            transform: none;
            width: 120%;
            transform: translateX(-20%);
            top: 41%;
            padding: 0;
          }

          @include lg-mobile {
            transform: translateX(0%);
            top: 41.5%;
          }

          @include mobile {
            top: 49%;
          }
        }

        .line-dark2 {
          height: 300px;
          width: 1px;
          background-color: $colorLightGrey;
          position: absolute;
          top: 0;
          right: 300px;

          @include laptop {
            display: none;
          }

          @include tablet {
            display: none;
          }
        }

        ul {
          display: flex;
          justify-content: space-evenly;
          list-style: none;
          margin: 4rem 0;
          position: relative;
          z-index: 3;

          @include laptop {
            margin: 2rem 0;
            justify-content: center;
            gap: 6rem;
          }

          @include tablet {
            margin: 2rem 0;
            gap: 1rem;
          }

          @include lg-mobile {
            margin: 1rem 0;
            gap: 1rem;
          }

          li {
            border: 1px solid $colorLightGrey;
            width: 80px;
            height: 80px;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            object-fit: cover;
            overflow: hidden;
            background-color: $colorWhite;

            @include lg-mobile {
              width: 60px;
              height: 60px;
            }

            &::after {
              content: "";
              display: block;
              position: absolute;
              height: 80px;
              width: 80px;
              top: 0px;
              bottom: 0px;
              background-color: rgb(255, 70, 85);
              mix-blend-mode: multiply;
              z-index: 1;
              transition: transform 0.3s ease-out 0s;
              transform: translateX(-100%) skewX(-10deg);
              visibility: hidden;
            }

            &:hover::after {
              transition: transform 0.3s ease-out 0s;
              transform: translateX(0);
              visibility: visible;
            }

            img {
              width: 40px;
              position: relative;
              z-index: 3;
              filter: brightness(0.5);
            }

            &:hover img {
              transition: 0.2s;
              filter: brightness(1);
            }
          }
        }

        .active_skill {
          border: 1px solid $colorGrey;

          img {
            filter: brightness(0);
            transform: scale(1.2);
            transition: 0.4s;
          }
        }

        .text_skills {
          display: flex;
          flex-direction: column;
          list-style: none;
          text-align: left;
          padding: 0 8rem 0 3.6rem;

          h5 {
            font-family: $font1;
            font-size: 1.4rem;
            text-transform: uppercase;
            color: $colorGrey;
            padding: 8px 0 16px 0;
          }

          p {
            font-family: $font1;
            color: $colorLightGrey;
            font-size: 1.1rem;
          }

          @include laptop {
            padding: 0 7rem;
          }

          @include tablet {
            padding: 1rem 2rem 0 1rem;
          }

          @include lg-mobile {
            padding: 2rem 1rem;
          }
        }
      }

      .skill_video {
        width: auto;
        position: relative;
        height: auto;

        @include laptop {
          padding: 24px 0 24px 0;
        }

        @include tablet {
          padding: 24px 0 24px 0;
        }

        @include lg-mobile {
          padding: 0 12px;
          height: 100%;
        }

        video {
          width: 90%;
          position: absolute;
          top: 0;
          right: 0;
          z-index: 2;

          @include laptop {
            display: block;
            margin: 0 auto;
            position: relative;
            width: 80%;
            z-index: 0;
          }

          @include tablet {
            position: relative;
            width: 100%;
            z-index: 0;
          }

          @include lg-mobile {
            height: 100%;
            -o-object-fit: cover;
            object-fit: cover;
            -o-object-position: center;
            object-position: center;
            width: 100%;
          }
        }
        .grey_bar {
          width: 80%;
          height: 40px;
          position: relative;
          transform: translateX(24.9%) translateY(960%);
          background-color: $colorLightGrey;

          @include laptop {
            display: none;
          }

          @include tablet {
            display: none;
          }

          @include lg-mobile {
            display: block;
            z-index: 1;
            height: 20px;
            transform: translateY(0);

            position: absolute;
            right: 0;
            margin-right: 12px;
          }
        }
      }
    }
  }
}
