.third_container {
  height: 60vh;
  background-color: $colorWhite;
  position: relative;

  @include mobile {
    height: auto;
  }

  #custom-cursor {
    width: 80px;
    position: fixed;
    transform: translateX(-50%) translateY(-50%);
    pointer-events: none;
    z-index: 100;
    opacity: 0;
  }

  .container-article {
    height: 100%;

    @include lg-mobile {
      padding: 1rem;
    }

    .article_banner {
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
      z-index: 1;

      h3 {
        font-family: $font2;
        font-size: 4rem;
        text-transform: uppercase;

        @include lg-mobile {
          font-size: 2.8rem;
        }

        @include mobile {
          font-size: 2.4rem;
        }
      }

      .limits {
        font-family: $font1;
        color: $colorLightGrey;
        opacity: 0.6;
        text-transform: uppercase;
        position: absolute;
        right: 0;
        top: 0;
        transform: translateX(40px) translateY(40px) rotate(90deg);
      }
    }

    .text_bg {
      position: absolute;
      top: 0;
      z-index: 0;

      span {
        text-transform: uppercase;
        font-size: 22rem;
        color: $colorWhite;
        font-family: $font1;
        pointer-events: none;
        -webkit-text-stroke: 1px $colorLightGrey;
        text-stroke: 1px $colorLightGrey;
        opacity: 0.2;
        white-space: nowrap;
        line-height: 1;
      }
    }

    ul {
      list-style: none;
      display: flex;
      margin: 4rem 0;
      position: relative;
      z-index: 1;

      .slick-slide {
        display: flex;
        margin-right: 2rem;
        flex-wrap: nowrap;

        .card {
          flex: 0 0 22%;
          min-width: 22%;
          background-color: $colorWhite;
          border: 1px solid $colorLightGrey;
          cursor: pointer;

          a {
            text-decoration: none;
            color: $colorGrey;

            article {
              position: relative;
              z-index: 5;

              .img_container {
                width: 100%;
                position: relative;
                object-fit: cover;
                overflow: hidden;

                &::before {
                  content: "";
                  display: block;
                  position: absolute;
                  height: 100%;
                  width: 100%;
                  top: 0px;
                  bottom: 0px;
                  background-color: rgb(255, 70, 85);
                  mix-blend-mode: multiply;
                  z-index: 1;
                  transition: transform 0.3s ease-out 0s;
                  transform: translateX(-100%) skewX(-10deg);
                  visibility: hidden;
                }

                &:hover::before {
                  transition: transform 0.3s ease-out 0s;
                  transform: translateX(0);
                  visibility: visible;
                }

                img {
                  width: 100%;
                }
              }

              .article_text {
                display: flex;
                flex-direction: column;
                align-content: center;
                text-align: left;
                padding: 20px 20px 20px 40px;
                position: relative;

                span {
                  position: absolute;
                  left: 0;
                  transform: rotate(-90deg);
                  font-family: $font1;
                  font-size: 1.4rem;
                }

                .article_date {
                  color: $colorLightGrey;
                  font-family: $font1;
                  font-size: 0.8rem;
                }

                .article_title {
                  color: $colorGrey;
                  font-family: $font1;
                  font-size: 1rem;
                }

                .red_point {
                  position: absolute;
                  height: 5px;
                  width: 5px;
                  background-color: $colorRed;
                  bottom: 0;
                  left: 0;
                }
              }
            }
          }

          &:hover {
            .article_text {
              background-color: $colorDarkBlue;
              transition: 0.6s;

              span {
                color: $colorWhite;
                transition: 0.6s;
              }

              .article_date {
                color: $colorRed;
                transition: 0.6s;
              }

              .article_title {
                color: $colorWhite;
                transition: 0.6s;
              }
            }
          }
        }
      }

      .slick-dots {
        margin: 0;
        position: absolute;
        top: -60px;
        left: 0;
        list-style-type: none;
        width: auto;
        height: 20px;
        z-index: 0;

        li {
          margin-right: 2rem;
        }

        button {
          display: block;
          width: 50px;
          height: 4px;

          border: 1px solid $colorLightGrey;
          background-color: $colorWhite;

          text-indent: -9999px;
        }

        li.slick-active button {
          background-color: $colorRed;
          border: 1px solid $colorRed;
        }
      }
    }
  }
}
