.container-banner {
  height: 80vh;
  position: relative;

  @include laptop {
    height: auto;
  }

  @include mobile {
    height: auto;
  }

  #myVideo {
    position: absolute;
    display: block;
    top: 0;
    height: fit-content;
    z-index: -1;
  }

  #custom-cursor {
    width: 80px;
    position: fixed;
    transform: translateX(-50%) translateY(-50%);
    pointer-events: none;
    z-index: 100;
    opacity: 0.5;
    transform: 0.3s;
  }

  .banner {
    height: 80vh;
    width: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 35% 40% 25%;
    position: relative;

    @include laptop {
      grid-template-columns: 50% 50%;

      padding: 0 2rem;
    }

    @include tablet {
      grid-template-columns: 50% 50%;
      padding: 0;
    }

    @include lg-mobile {
      grid-template-columns: 100%;
      grid-template-rows: 20% 60% 20%;
      padding: 0;
    }

    .carroussel {
      display: flex;
      height: 80vh;
      flex-direction: column;
      z-index: 1;

      @include tablet {
        justify-content: flex-start;
        align-items: flex-start;
      }
      @include lg-mobile {
        flex-direction: row;
        justify-content: center;
        padding-top: 150px;
        z-index: 10;
      }

      .slick-list {
        @include lg-mobile {
          height: 100%;
        }
      }

      .active {
        color: #ff4655 !important;
      }

      .agent_name {
        font-family: $font2;
        font-size: 7rem;
        color: $colorWhite;
        text-transform: uppercase;
        position: relative;
        cursor: grab;
        height: 100px;
        transform: translateY(220px);

        @include tablet {
          font-size: 5rem;
        }

        @include lg-mobile {
          transform: translateY(220px);
        }

        span {
          font-family: $font2;
          font-size: 1.5rem;
          position: relative;
          margin-right: 12px;
          bottom: 60px;

          @include tablet {
            bottom: 38px;
          }
        }
      }
    }

    .imgSlider {
      height: 85%;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      z-index: 10;

      @include tablet {
        justify-content: flex-start;
        align-items: flex-start;
        z-index: 0;
      }

      @include lg-mobile {
        display: block;
        margin: 0 auto;
        z-index: 10;
      }

      img {
        max-height: 740px;
        position: absolute;
        top: 30px;
        left: 0;
        z-index: 10;
        pointer-events: none;
      }

      @include laptop {
        img {
          position: relative;
          top: 80px;
        }
      }

      @include tablet {
        img {
          max-height: 540px;
          z-index: 0;
        }
      }
      @include lg-mobile {
        img {
          max-height: 540px;
          z-index: 10;
          top: 10px;
        }
      }

      @include mobile {
        img {
          max-height: 440px;
          z-index: 10;
          top: 10px;
        }
      }
    }

    .description-container {
      display: flex;
      flex-direction: column;
      text-align: left;
      font-family: $font1;
      color: $colorWhite;
      position: relative;

      h3 {
        font-size: 0.9rem;
      }

      #role-text {
        font-size: 4rem;
        margin-bottom: 2rem;
        font-family: $font2;

        img {
          width: 30px;
          transform: translateY(-50%) translateX(10px);
        }
      }

      #description-text {
        margin-top: 1rem;
        font-family: $font1;
        line-height: 1.3rem;
        letter-spacing: 0.02rem;
        word-spacing: 0.2rem;
      }

      #white-line {
        height: 1px;
        border-radius: 2px;
        background-color: $colorWhite;
        width: 100%;
        position: relative;
        transform: translateY(60px);
      }

      @include laptop {
        background-color: $colorWhite;
        z-index: 1;
        width: 200%;
        padding: 32px 0;
        border-bottom: 1px solid $colorGrey;

        h3 {
          color: $colorDarkBlue;
        }
        #role-text {
          font-size: 4rem;
          margin-bottom: 1rem;
          font-family: $font2;
          color: $colorDarkBlue;

          img {
            width: 30px;
            transform: translateY(-50%) translateX(10px);
            filter: brightness(0);
          }
        }
        #description-text {
          color: $colorGrey;
        }

        #white-line {
          display: none;
        }
      }

      @include lg-mobile {
        position: relative;
        transform: translateY(80%);
        padding: 12px;
        display: block;
        margin: 0 auto;
        width: 100%;
      }
    }
  }
  @keyframes textAnim {
    0% {
      transform: translateY(20px);
      opacity: 0;
    }

    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  @keyframes hoverAnim {
    0% {
      left: 0px;
    }

    70% {
      left: 10px;
    }
    100% {
      left: 0px;
    }
  }

  @keyframes displayImg {
    0% {
      transform: scale(0.8);
      opacity: 0;
    }

    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
}
