.container-banner {
  height: 80vh;
  position: relative;

  #myVideo {
    position: absolute;
    display: block;
    top: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: 0;
    transform: translateY(-10%);
  }

  .banner {
    height: 80vh;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 35% 40% 25%;
    position: relative;
    padding-top: 20px;

    .carroussel {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 80vh;
      z-index: 1;

      .agent_name {
        font-family: $font2;
        font-size: 7rem;
        color: $colorWhite;
        text-transform: uppercase;
        position: relative;
        cursor: pointer;
        height: 100px;

        span {
          font-family: $font2;
          color: $colorWhite;
          font-size: 1.5rem;
          position: relative;
          z-index: 10;
          margin-right: 12px;
          bottom: 60px;
        }
      }
    }

    .imgSlider {
      height: 85%;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        max-height: 740px;
        object-fit: cover;
        position: absolute;
        bottom: -80px;
        z-index: 10;
        transition: 0.5s;
      }
    }

    .description-container {
      display: flex;
      flex-direction: column;
      text-align: left;
      font-family: $font1;
      color: $colorWhite;
      position: relative;

      h3 {
        font-size: 0.9rem;
      }

      #role-text {
        font-size: 4rem;
        margin-bottom: 2rem;
      }

      #description-text {
        margin-top: 1rem;
        font-family: $font1;
        line-height: 1.3rem;
        letter-spacing: 0.02rem;
        word-spacing: 0.2rem;
      }

      #white-line {
        height: 1px;
        border-radius: 2px;
        background-color: $colorWhite;
        width: 100%;
        position: relative;
        transform: translateY(60px);
      }
    }
  }
  @keyframes textAnim {
    0% {
      transform: translateY(20px);
      opacity: 0;
    }

    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  @keyframes hoverAnim {
    0% {
      left: 0px;
    }

    70% {
      left: 10px;
    }
    100% {
      left: 0px;
    }
  }
}

.video {
  background-color: rgb(61, 42, 165);
  height: 40vh;
  position: relative;
  z-index: 5;
}
