@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Parisienne&display=swap");

:root {
  --Montserrat: "Montserrat", sans-serif;
  --Parisienne: "Parisienne", cursive;
  --green: #03b769;
  --blue: #8fd3f4;
  --white: #ffffff;
  --black: #363636;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.flux {
  max-width: 1250px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

h1 {
  font-family: var(--Montserrat);
  font-size: 3.2rem;
  color: var(--white);
  font-weight: 700;
}

h2 {
  font-family: var(--Montserrat);
  text-transform: uppercase;
  font-size: 3rem;
}

h3 {
  font-family: var(--Montserrat);
}

li {
  list-style: none;
  color: var(--black);
  font-family: var(--Montserrat);
}

a {
  text-decoration: none;
  color: var(--black);
  cursor: pointer;
}
button {
  cursor: pointer;
}

p {
  font-family: var(--Montserrat);
}

body {
  position: relative;
}

.top-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 4vw;
  width: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.right-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8rem;
  font-size: 1.2rem;
}

.right-nav li {
  color: var(--white);
  font-weight: 600;
}

.right-nav li:hover {
  color: var(--black);
  border-color: var(--black);
}

#nav-logo {
  font-family: var(--Parisienne);
  font-size: 1.6rem;
  color: var(--white);
}

#connect {
  background: none;
  font-family: var(--Montserrat);
  color: var(--blue);
  border: none;
  font-weight: 800;
  font-size: 1rem;
}

#connect span {
  font-weight: 500;
  font-size: 0.8rem;
  text-align: center;
}

#connect:hover {
  color: var(--black);
  border-color: var(--black);
}

#rdv {
  background: none;
  font-family: var(--Montserrat);
  color: var(--blue);
  border: 2px solid var(--blue);
  font-weight: 800;
  border-radius: 16px;
  padding: 16px 24px;
  font-size: 1rem;
}

#rdv:hover {
  background-color: var(--black);
  color: var(--white);
  border-color: var(--black);
}

@media screen and (max-width: 1400px) {
  #connect {
    background-color: var(--white);
    border-radius: 16px;
    padding: 8px 12px;
  }
}

@media screen and (max-width: 1200px) {
  .right-nav {
    gap: 4rem;
    font-size: 1rem;
  }

  #nav-logo {
    font-size: 1.4rem;
  }

  #connect span {
    font-weight: 500;
    font-size: 0.8rem;
  }

  #rdv {
    font-weight: 700;
    font-size: 1rem;
  }
  #connect {
    font-family: var(--Montserrat);
    color: var(--blue);
    font-weight: 700;
    font-size: 1rem;
  }
}

/*  BANNER  */

.hero-banner-bg {
  background: url("./img/rond_fond.png") no-repeat;
  background-position: right 24vw center;
}

.hero-banner {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-banner-right img {
  width: 80px;
}

.hero-banner-left,
.hero-banner-right {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.hero-banner-right {
  gap: 24px;
}

.color-spe {
  display: grid;
  grid-template-columns: 32% 68%;
  justify-content: space-around;
  align-items: center;
  width: 70%;
  height: 100px;
  padding: 8px 24px;
  border-radius: 25px;
  margin-left: 56px;
  text-align: center;
  font-family: var(--Montserrat);
  line-height: 1.8rem;
}

.center-img {
  display: flex;
  align-items: center;
  justify-content: center;
}

#color-spe-1 {
  background-color: #d6d9f9;
}

#color-spe-2 {
  background-color: #fba39e;
}

#color-spe-3 {
  background-color: #fcdb9d;
}

.title-med {
  color: var(--black);
  font-weight: 700;
  font-size: 1.4rem;
}

.sub-title-med {
  color: var(--black);
  font-weight: 400;
  font-size: 1rem;
}

.hero-banner-content p {
  color: var(--white);
  margin: 32px 16px 32px 0;
}

#contact {
  text-transform: uppercase;
  color: var(--white);
  border: 2px solid white;
  padding: 24px 48px;
  background: none;
  border-radius: 25px;
  font-family: var(--Montserrat);
  font-weight: 600;
  font-size: 1rem;
}

#contact:hover {
  color: var(--black);
  background-color: var(--white);
}

.button-hero-container {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 2rem;
}

#rdv2 {
  text-transform: uppercase;
  color: var(--blue);
  border: 2px solid white;
  padding: 13px 48px;
  background: var(--white);
  border-radius: 25px;
  font-family: var(--Montserrat);
  font-weight: 600;
  font-size: 1rem;
}

#rdv2 span {
  text-transform: none;
  font-weight: 400;
}

#rdv2:hover {
  background-color: var(--black);
  color: var(--white);
}

@media screen and (max-width: 1300px) {
  .hero-banner-left {
    margin: 0 2vw;
  }

  .hero-banner-content p {
    margin: 32px 0;
  }

  .flux {
    max-width: 1100px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }
}

/* // Section Author  // */

.container-author {
  display: grid;
  grid-template-columns: 40% 60%;
  align-items: center;
  margin: 56px 0;
}
.img-container-author {
  display: flex;
  align-items: center;
  justify-content: right;
}

.img-container-author img {
  width: 80%;
}

.container-author p {
  border: 12px solid var(--green);
  border-image: linear-gradient(to right bottom, var(--green), var(--blue)) 1;
  border-left: none;
  padding: 80px 36px;
  width: 80%;
}

/* // Informations // */

#title-info {
  color: var(--green);
  margin-left: 10%;
}

.container-info {
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
  border: 12px solid var(--green);
  border-image: linear-gradient(to right bottom, var(--green), var(--blue)) 1;
  text-align: center;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 56px;
}

.container-info-text {
  margin: 36px 0;
}

.info_prio {
  font-weight: 600;
  font-size: 1rem;
  padding: 12px 0;
  color: var(--black);
}

.info-info {
  font-weight: 400;
  font-size: 0.8rem;
  padding: 24px 0 4px 0;
  color: var(--black);
}

#info-title-text {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--black);
}

#phone {
  color: var(--green);
  font-size: 1.2rem;
  margin: 8px 0;
}

/* // RDV Form // */

.container-rdv-bg {
  background: rgb(143, 211, 244);
  background: linear-gradient(
    331deg,
    rgba(143, 211, 244, 0.9164040616246498) 0%,
    rgba(93, 201, 191, 1) 20%,
    rgba(34, 189, 129, 1) 80%,
    rgba(3, 183, 96, 0.8911939775910365) 100%
  );
  padding: 48px 0;
}

.container-rdv {
  padding: 46px 0;
}

.container-rdv h2 {
  color: var(--white);
  margin-left: 10%;
}

.container-rdv h2 span {
  color: var(--black);
}

.container-rdv-form {
  background-color: var(--white);
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 8px;
}

.container-rdv-form form {
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.form-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 16px 4vw;
  text-align: left;
}

.form-right {
  display: grid;
  grid-template-rows: 30% 20% 45%;
  padding: 16px 4vw;
  height: 100%;
}

.left-input {
  border: 1px solid var(--black);
  height: 40px;
  font-size: 1.2rem;
  border-radius: 12px;
  outline: none;
  padding: 0 16px;
}

.left-input:focus {
  border: 2px solid var(--green);
}

.left-input::placeholder {
  color: transparent;
}

.label-left {
  text-align: left;
  font-family: var(--Montserrat);
  color: var(--black);
  font-weight: 600;
  font-size: 1rem;
  padding-bottom: 8px;
  padding-top: 24px;
}

#date {
  background: none;
  outline: none;
  border: 1px solid var(--black);
  margin: 10px 0;
  padding: 10px;
  border-radius: 10px;
  font-size: 1rem;
  width: 55%;
  text-align: left;
  font-family: var(--Montserrat);
  font-weight: 500;
}

#hours {
  background: none;
  outline: none;
  border: 1px solid var(--black);
  margin: 10px 0;
  padding: 10px;
  border-radius: 10px;
  font-size: 1rem;
  width: 40%;
  text-align: left;
  font-family: var(--Montserrat);
  font-weight: 500;
}

#spe {
  background: none;
  outline: none;
  border: 1px solid var(--black);
  margin: 10px 0;
  padding: 10px;
  border-radius: 10px;
  font-size: 1rem;
  width: 70%;
  text-align: left;
  font-family: var(--Montserrat);
  font-weight: 500;
  display: block;
}

.date-hours {
  display: flex;
  justify-content: space-between;
}

.date-container {
  display: flex;
  flex-direction: column;
  align-items: left;
}

#rdv-validation {
  color: var(--white);
  background: var(--black);
  border-radius: 25px;
  font-family: var(--Montserrat);
  font-weight: 600;
  font-size: 1rem;
  height: 60px;
  width: 210px;
  border: none;
  transform: translateY(50%);
  margin: 0 auto;
}

#rdv-validation:hover {
  color: var(--black);
  border: 2px solid var(--black);
  background-color: var(--white);
}

.area-container {
  padding-top: 16px;
}

#area {
  height: 80%;
  width: 100%;
  font-family: var(--Montserrat);
  padding: 8px;
  resize: none;
  margin-top: 8px;
}

footer {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  align-items: center;
  color: #363636;
  padding: 36px 0;
}

.col-footer-left {
  text-align: left;
}

.col-footer-mid {
  text-align: center;
}

.col-footer-right {
  text-align: right;
}

#footer-logo {
  font-family: var(--Parisienne);
  font-size: 1.6rem;
  color: var(--black);
}

.footer-sublogo {
  font-size: 0.8rem;
  padding: 8px 0;
}

.footer-text {
  font-size: 1rem;
  font-weight: 400;
  padding: 8px 0;
}

#footer-phone {
  font-weight: 600;
  font-size: 1.2rem;
}

@media screen and (max-width: 1050px) {
  h1 {
    font-size: 2rem;
  }

  .right-nav {
    gap: 2rem;
  }

  .button-hero-container {
    justify-content: center;
    gap: 1rem;
  }

  #contact {
    font-size: 1rem;
    padding: 22px 40px;
    font-weight: 800;
    width: 50%;
  }

  #rdv2 {
    width: 50%;
    font-size: 1rem;
    font-weight: 800;
    padding: 13px 16px;
  }

  #rdv2 span {
    font-size: 0.8rem;
  }

  .hero-banner-content {
    margin: 0 2vw;
  }

  .color-spe {
    width: 80%;
    margin-left: 0px;
    text-align: center;
    line-height: 1.8rem;
  }

  .color-spe img {
    width: 50%;
    margin: auto 0;
  }

  .title-med {
    font-size: 1.3rem;
  }

  .sub-title-med {
    font-size: 0.9rem;
  }

  .img-container-author img {
    width: 70%;
  }

  .container-author p {
    padding: 40px 36px;
    width: 80%;
  }

  #gMaps {
    width: 32vw;
    height: 450px;
  }

  footer {
    padding: 36px 20px;
  }
}

@media screen and (max-width: 900px) {
  .container-author p {
    padding: 30px 36px;
  }
}

/* MOBILE */

@media screen and (max-width: 880px) {
  body {
    overflow-x: hidden;
  }

  h2 {
    font-size: 2rem;
  }

  #nav-logo {
    font-size: 2rem;
  }

  .hero-banner {
    flex-direction: column;
    gap: 6rem;
    padding-top: 5rem;
  }

  .hero-banner-bg {
    background-position: bottom;
  }

  .hero-banner-left {
    text-align: center;
  }

  .hero-banner-left,
  .hero-banner-right {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .right-nav {
    position: absolute;
    flex-direction: column;
    transition: 0.5s ease-out;
    justify-content: center;
    gap: 4rem;
    right: -1200px;
    z-index: 4;
    background-color: var(--black);
    top: 0;
  }

  .toggle-btn {
    position: absolute;
    right: 0;
    cursor: pointer;
    width: 50px;
    height: 40px;
    z-index: 5;
    overflow: hidden;
    transform: translateY(-20%);
    transform: translateX(-50%);
  }

  .toggle-btn span {
    width: 40px;
    height: 5px;
    border-radius: 5px;
    background: var(--white);
    display: block;
    margin-top: 6px;
    transition: 0.3s ease;
  }

  .btn-clicked {
    position: absolute;
    right: 0;
    cursor: pointer;
    height: 50px;
    width: 50px;
    z-index: 5;
    transform: translateY(100%);
    transform: translateX(-80%);
  }

  .btn-clicked :first-child {
    transform: translateY(11px) rotate(45deg);
  }

  .btn-clicked :nth-child(2) {
    opacity: 0;
  }

  .btn-clicked :last-child {
    transform: translateY(-11px) rotate(-45deg);
  }

  .title-med {
    font-size: 1.1rem;
  }

  .sub-title-med {
    font-size: 0.8rem;
  }

  .container-author p {
    padding: 20px 36px;
  }

  .container-author {
    display: grid;
    grid-template-columns: 100%;
    align-items: center;
    justify-content: center;
    margin: 56px 0;
  }
  .img-container-author {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .img-container-author img {
    width: 50%;
    transform: translateY(10%);
  }

  .container-author p {
    border: 12px solid var(--green);
    border-image: linear-gradient(to right bottom, var(--green), var(--blue)) 1;
    padding: 80px 36px;
    width: 80%;
    text-align: center;
    margin: 0 auto;
  }

  .color-spe img {
    width: 60%;
    margin: auto 0;
  }

  #connect {
    border: none;
    background-color: var(--black);
    color: white;
  }

  #rdv {
    color: white;
    border-color: #ffffff;
  }

  .date-hours {
    flex-direction: column;
  }

  #date {
    width: 80%;
  }
  #hours {
    width: 50%;
  }
}

@media screen and (max-width: 700px) {
  .color-spe img {
    width: 70%;
    margin: auto 0;
  }

  .hero-banner-left,
  .hero-banner-right {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}

@media screen and (max-width: 600px) {
  .hero-banner-left,
  .hero-banner-right {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .color-spe img {
    width: 80%;
    margin: auto 0;
  }
}

@media screen and (max-width: 500px) {
  #nav-logo {
    font-size: 1.5rem;
  }

  .hero-banner-right {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .hero-banner-left {
    width: 95%;
  }

  .color-spe img {
    width: 80%;
    margin: auto 0;
  }

  #rdv2 {
    font-size: 1rem;
    padding: 12px 16px;
  }

  #contact {
    padding: 21px 32px;
  }

  .button-hero-container {
    gap: 0.4rem;
  }

  .img-container-author img {
    width: 60%;
    transform: translateY(30%);
  }

  .container-author p {
    border: 12px solid var(--green);
    border-image: linear-gradient(to right bottom, var(--green), var(--blue)) 1;
    padding: 80px 36px 50px 36px;
    width: 80%;
    text-align: center;
    margin: 0 auto;
  }

  .container-author {
    margin: 0 auto 36px auto;
  }

  .container-info {
    grid-template-columns: 100%;
  }

  #gMaps {
    width: 90%;
    height: 400px;
  }

  h2 span {
    word-spacing: 10rem;
  }

  .container-rdv-bg {
    padding: 0px 0 36px 0;
  }

  .container-rdv-form form {
    grid-template-columns: 100%;
  }

  .container-rdv-form {
    background: none;
  }

  .left-input {
    border: none;
    margin-bottom: 16px;
  }

  .label-left {
    display: none;
  }

  .left-input::placeholder {
    color: #363636ce;
  }

  #area {
    border: none;
    height: 180px;
  }

  .area-container label {
    display: contents;
  }

  .date-hours {
    flex-direction: column;
  }

  #date {
    width: 80%;
    background-color: var(--white);
    border: none;
  }
  #hours {
    width: 50%;
    background-color: var(--white);
    border: none;
  }

  #date-label {
    display: contents;
  }

  #rdv-validation {
    transform: translateY(180%);
  }

  footer {
    display: flex;
    flex-direction: column-reverse;
    gap: 2rem;
    align-items: center;
    color: #363636;
    padding: 36px 0 24px 0;
  }

  footer ul {
    display: none;
  }

  .col-footer-left {
    text-align: center;
  }

  .col-footer-mid {
    text-align: center;
  }

  .col-footer-right {
    text-align: right;
  }

  #footer-logo {
    font-family: var(--Parisienne);
    font-size: 1.6rem;
    color: var(--black);
  }

  .footer-sublogo {
    font-size: 0.8rem;
    padding: 8px 0;
  }

  .footer-text {
    font-size: 1rem;
    font-weight: 400;
    padding: 8px 0;
  }

  #footer-phone {
    font-weight: 600;
    font-size: 1.2rem;
  }
}
