.btn-container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 72px;

  #goBack-btn {
    width: auto;
    position: fixed;
    top: 1em;
    left: 4em;
    z-index: 3;
    padding: 16px 22px;
    background-color: $white;
    border-radius: 6px;
    cursor: pointer;
    color: $black;
    font-family: $fontText_Bold;

    &:hover {
      transform: scale(1.05);
      transition: 0.6s;

      #chevronLeft {
        animation: goBackAnim 3s ease infinite;
      }
    }
  }
}
#procyon {
  position: absolute;
  left: -30%;
  bottom: -20%;
  z-index: -2;
  pointer-events: none;
}

.projet-container {
  grid-column: 1 / span 12;
  margin-top: 60px;
  text-align: center;
  position: relative;

  .projet-container__tech-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    padding: 2em 0 3em 0;

    img {
      width: 36px;
    }
  }

  #projet-container__miniature {
    width: 100%;
    border-radius: 6px;
    margin: 2em 0 0 0;
    border: 6px solid $white;
  }

  .projet-container__content {
    width: 100%;

    h3 {
      padding: 1em 0 1em 0;
    }

    #gifPresentation {
      width: 100%;

      border-radius: 6px;
      margin: 2em 0 0 0;
      border: 6px solid $white;
    }
  }
}

@keyframes goBackAnim {
  0% {
    transform: translateX(0px) translateY(2px);
  }

  40% {
    transform: translateX(-8px) translateY(2px);
  }

  60% {
    transform: translateX(-8px) translateY(2px);
  }

  100% {
    transform: translateX(-0px) translateY(2px);
  }
}
