@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

$font-1: "Poppins", sans-serif;

$red: #eb1c24;
$lightGrey: #707176;
$grey: #1a171e;
$black: #0d0d0f;
$white: rgb(243, 243, 243);

$breakpoints: (
  "max-desktop": 1700px,
  "lg-desktop": 1550px,
  "sm-desktop": 1350px,
  "lg-tablet": 1115px,
);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@mixin flexRow {
  display: flex;
  align-items: center;
  gap: 3.3em;
}

h2 {
  color: $white;
  font-family: $font-1;
  font-size: 1.2rem;
}

.container {
  height: 100%;
  display: grid;
  grid-template-columns: 250px 1fr;
}

.content {
  grid-column-start: 2;
  height: 100%;
  min-height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 20px;
  padding: 0 2%;
  background-color: $black;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: $lightGrey;
  font-family: $font-1;
  font-weight: 500;
  font-size: 1.1rem;
}

p {
  font-family: $font-1;
  font-weight: 300;
  font-size: 0.9rem;
}

#watchBtn {
  color: $white;
  font-family: $font-1;
  font-weight: 500;
  background-color: rgba(235, 28, 36, 0.6);
  border: none;
  height: 42px;
  width: 140px;
  border-radius: 24px;
  font-size: 1rem;
  cursor: pointer;
  margin-right: 0.6em;
  opacity: 0;
  transition: 0.6s;

  &:hover {
    background-color: $red;
  }
}

.addBtn {
  color: $white;
  font-family: $font-1;
  font-weight: 500;
  background-color: rgba(20, 28, 36, 0.6);
  border: none;
  height: 42px;
  width: 42px;
  border-radius: 24px;
  font-size: 1rem;
  cursor: pointer;

  &:hover {
    background-color: $black;
  }
}

.activeBtn {
  background-color: rgba(20, 28, 36, 0.6);
  color: $white;
  font-family: $font-1;
  font-weight: 500;
  border: none;
  height: 42px;
  width: 42px;
  border-radius: 24px;
  font-size: 1rem;
  cursor: pointer;

  &:hover {
    background-color: $black;
  }
}
